<doc type html>
<div style="color:#0000FF">
<p>Hello, I'm Ash. I currently work at Proactive tech and am
taking Python Class. Always looking to develop a new skill. In my spare time I like recreating fictional characters
by cosplaying as them. I also enjoy going to conventions, going on cruises,
going to Resorts where I can relax, going to the gym(when I can),etc.
I watch anime as well as enjoy shows such as The Flash, Arrow, Daredevil, Game of Thrones, etc.
 </p>
 </div>

<img = src ="https://i.ytimg.com/vi/fUHH_3G_5dw/hqdefault.jpg" >

<div>
  <h2> Here is a project I have worked on, a simple Naruto game <a href ="https://github.com/Ash25x/PythonClass/blob/master/simplePuzzle.py"
>click here</a>
</div>

<div>
<h3>Here is a link to my github....Don't take my code...they have errors :( <a href ="https://github.com/Ash25x/PythonClass/"
  >Github</a>
</h3>
</div>

<form method="POST">
  What do you think of my picture?:<br>
  <input type="text" comment="what do you think of my picture?"><br>
  <button>Submit</button>
</form>

  <form method="POST">
    First name:<br>
    <input type="text" name="firstname"><br>
    Last name:<br>
    <input type="text" name="lastname">
  </form>

  <table style="width:100%">
    <tr>
      <th>Name</th>
      <th>Ideal vacation</th>
      <th>Favorite Movie</th>
    </tr>
    <tr>
      <td>Ash</td>
      <td>Japan</td>
      <td>Maze Runner 2</td>
    </tr>
    <tr>
      <td>Anna</td>
      <td>Venice</td>
      <td>50 Shades of Grey</td>
    </tr>
  </table>
